

  body {  background-image:url(../img/fondoclaro.avif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 

  
  }
  .espacio1 {
      padding: 2rem 0 2rem 0;
  }

  input[type="checkbox"]{
    position: relative;
    width: 40px;
    height: 20px;
    background-color: rgb(184, 104, 238);
    appearance: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
    
  }
  input[type="checkbox"]:checked{
    background-color: blue;
  
  }
  input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #f2f2f2;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.7s ease;
  }
  input[type="checkbox"]:checked::before {
    transform: translateX(20px);
    }
  .dark-mode {
    background-image: url(../img/fondooscuro.avif);
    transition: 0.7s ease;
  }
  
  .dark-mode .streaming{
    background-color: #000000;
    color: white;
    
  }
  .dark-mode .menu{
    background-color: #000000;
   
  }
  .dark-mode nav{
    background-color: #000000;
   
  }
  .dark-mode .nav-list li{
    
    color: white
   
  }
  .dark-mode .nav-list li:hover{
    background: mediumblue;
  
  }
  
  .dark-mode .bars__menu span {
    background: rgb(62, 62, 223);
  }
  .dark-mode .drop-button{
    color:rgb(62, 62, 223);
    border-color: rgb(62, 62, 223);
  }
  


.bars__menu{
  width: 20px;
  height: 10px;
  padding: 10px;
  cursor: pointer;
}

.bars__menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: #9A00BF;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 300ms;
}

  .menu {
      background-color: white;
      padding: 0rem 0 0rem 0;
      margin: 1rem;
      border-radius: 1rem;
      display: flex;
      align-items: center;
     gap: 43%;
     
  }
  .menu2{
    display: flex;
    padding-left: 15px;
  }
  
  .links{
    text-decoration: none;
  color: #000000;
  }
  
  
  
  
  .nav-list{
    
   flex-direction: column;
   list-style-type:none;
   gap: 1rem;
  margin: 0%;
  padding: 0%;
  
   
  
  }
  .nav-list li{
   
  
    display:block;
    color:#000000;
    text-decoration:none;
    font-weight:400;
    font-size:20px;
    padding: 2rem 15rem 2rem 1rem;
  
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    text-align: left;
    
   
   
  }
  
  .nav-list li:hover{
    background: rgb(184, 104, 238);
  
  }
  
  
  
  
  .abrir-m, .cerrar-m{
    display: block;
    border: 0;
    cursor: url(img/file_type_pug_icon_130225\ \(1\).png), auto;
  }


  .nav{
    opacity: 0;
    visibility: hidden;
    
  }
  
  .nav{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  
  
  
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(255, 255, 255);
    
    bottom: 0%;
    box-shadow: 0 0 0 100vmax rgba(0,0, 0, .5);
  
   
  }
  
  .nav.visible{
    opacity: 1;
    visibility: visible;
  }
  
  
  
  .logo1{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .cerrar-m{
    padding: 0rem 6rem 0rem 0rem;
  }
  
.streaming{
    background-color: white;
    padding: 0rem 0 0rem 0;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
}  

iframe{
  width: 50rem;
  height: 40rem;
 

}
.ll
{
  display: flex;
  justify-content: space-around;
}

.drop-button
{
    text-decoration:none;
    font-weight: 500;
    font-size: 15px;
    color:#9A00BF;
    padding-top:15px;
    padding-bottom:15px;
    
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: #9A00BF;}

    @media (max-width:859px){
      .streaming{
        display: flex;
       flex-direction: column;
      }
    }
    @media (max-width:681px){
      .video{
        width: 300px;
        height: 300px;
      }
    }